.cards-container {
  margin: 10px;
  border: 1px solid black;
  background-color: rgb(138, 172, 165);
  border-radius: 20px;
  max-width: 180px;
  display: flex;
  justify-content: space-evenly;
  padding: 20px;
}
.event-card button {
  margin-left: 50%;
}

.vertical-line {
  border-left: 2px solid black;
  height: 100px;
  margin: 30px 12px;
}
.heading h1 {
  font-size: 55px;
}
.card-selected-button {
  background-color: rgb(115, 159, 115);
  cursor: pointer;
  border: 1px solid black;
  border-radius: 20px;
}

.card-selected-button:active {
  background-color: rgb(40, 116, 40);
  cursor: pointer;
  border: 1px solid black;
  border-radius: 20px;
}

.card-remove-button {
  background-color: rgb(128, 64, 64);
  cursor: pointer;
  border: 1px solid black;
  border-radius: 20px;
}

.card-remove-button:active {
  background-color: rgb(145, 11, 11);
  cursor: pointer;
  border: 1px solid black;
  border-radius: 20px;
}
