.app-container {
  display: flex;
  margin: 10px;
  padding: 0;
  border: 2px solid black;
  width: 98%;
  min-height: 90vh;
}

@media (max-width: 432px) {
  .app-container {
    display: flex;
    flex-direction: column;
  }
}
